@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Anton', sans-serif;
    font-weight: regular;
    color: white;
    text-align: center;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('clouds.png'); 
    background-size: cover;
    background-position: center;
    position: relative;
}

.text-container {
    text-align: center;
}

.title {
    font-size: 10vw;
    margin: 0;
    line-height: 2;
    text-shadow: 4px 3px 12px rgba(80, 80, 80, 0.2);
}

.subtitle {
    font-size: 2vw;
    margin: 0;
    letter-spacing: 0.07em;
    text-shadow: 4px 3px 12px rgba(80, 80, 80, 0.2);
}

.subtitle a {
    color: white;
    text-decoration: none;
}

@media (max-width: 768px) {
    .title {
        font-size: 15vw;
        line-height: 1.2;
    }

    .talk-to, .god {
        display: block;
    }

    .god {
        font-size: 25vw;
    }

    .subtitle {
        font-size: 7vw;
    }
}
